<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
    <a class="navbar-brand" href="#">Jason ToDoList-APP</a>

    <% if (user) { %>
    <a href="/logout" class="btn btn-danger">logout</a>
    <% } %>
    
    </div>
</nav>