<body>
<div class="container mt-3">
    <h2>Tambah Tugas</h2>

    <form action="/add" method="POST">
        <div class="mb-3">
            <label class="form-label">Nama Tugas</label>
            <input type="text" name="tugas" class="form-control" required>
        </div>

        <button type="submit" class="btn btn-primary">Simpan</button>
        <a href="/ToDoApp" class="btn btn-secondary">Kembali</a>
    </form>
</div>
</body>
</html>